In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [6]:
s= pd.Series([1,3,5,np.nan,6,8])

In [7]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
dates = pd.date_range("20170101",periods=6)

In [9]:
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))

In [12]:
df

                   A         B         C         D
2017-01-01  1.902092 -0.832039 -0.012598  0.134319
2017-01-02  1.486462  1.583310 -2.081212  1.063889
2017-01-03 -0.860876 -0.760034  0.574374 -0.351009
2017-01-04  0.048681  0.742280 -0.914286  0.459087
2017-01-05 -0.043940 -0.198157 -0.593065  0.466222
2017-01-06  0.289827 -0.199622 -0.836998  1.358386

In [14]:
df2 = pd.DataFrame({'A':1.,
                    'B': pd.Timestamp('20170316'),
                    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D':np.array([3]*4,dtype = 'int32'),
                    'E': pd.Categorical(["test","train","test","train"]),
                    'F':'foo'})

In [15]:
df2

     A          B    C  D      E    F
0  1.0 2017-03-16  1.0  3   test  foo
1  1.0 2017-03-16  1.0  3  train  foo
2  1.0 2017-03-16  1.0  3   test  foo
3  1.0 2017-03-16  1.0  3  train  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
df2.head(3)

     A          B    C  D      E    F
0  1.0 2017-03-16  1.0  3   test  foo
1  1.0 2017-03-16  1.0  3  train  foo
2  1.0 2017-03-16  1.0  3   test  foo

In [21]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [22]:
df2.values

array([[1.0, Timestamp('2017-03-16 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2017-03-16 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2017-03-16 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2017-03-16 00:00:00'), 1.0, 3, 'train', 'foo']], dtype=object)

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.470375  0.055956 -0.643964  0.521815
std    1.032416  0.936816  0.901285  0.618497
min   -0.860876 -0.832039 -2.081212 -0.351009
25%   -0.020784 -0.619931 -0.894964  0.215511
50%    0.169254 -0.198889 -0.715032  0.462654
75%    1.187303  0.507170 -0.157715  0.914472
max    1.902092  1.583310  0.574374  1.358386

In [27]:
df.sort_index(axis=1,ascending = False)

                   D         C         B         A
2017-01-01  0.134319 -0.012598 -0.832039  1.902092
2017-01-02  1.063889 -2.081212  1.583310  1.486462
2017-01-03 -0.351009  0.574374 -0.760034 -0.860876
2017-01-04  0.459087 -0.914286  0.742280  0.048681
2017-01-05  0.466222 -0.593065 -0.198157 -0.043940
2017-01-06  1.358386 -0.836998 -0.199622  0.289827

In [28]:
df.sort_values(by='B')

                   A         B         C         D
2017-01-01  1.902092 -0.832039 -0.012598  0.134319
2017-01-03 -0.860876 -0.760034  0.574374 -0.351009
2017-01-06  0.289827 -0.199622 -0.836998  1.358386
2017-01-05 -0.043940 -0.198157 -0.593065  0.466222
2017-01-04  0.048681  0.742280 -0.914286  0.459087
2017-01-02  1.486462  1.583310 -2.081212  1.063889

In [31]:
df['A']

2017-01-01    1.902092
2017-01-02    1.486462
2017-01-03   -0.860876
2017-01-04    0.048681
2017-01-05   -0.043940
2017-01-06    0.289827
Freq: D, Name: A, dtype: float64

In [32]:
df[0:3]

                   A         B         C         D
2017-01-01  1.902092 -0.832039 -0.012598  0.134319
2017-01-02  1.486462  1.583310 -2.081212  1.063889
2017-01-03 -0.860876 -0.760034  0.574374 -0.351009

In [33]:
df[1:3]

                   A         B         C         D
2017-01-02  1.486462  1.583310 -2.081212  1.063889
2017-01-03 -0.860876 -0.760034  0.574374 -0.351009

In [34]:
df[1:1]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [36]:
df[1:2]

                   A        B         C         D
2017-01-02  1.486462  1.58331 -2.081212  1.063889

In [37]:
df['20170101':'20170103']

                   A         B         C         D
2017-01-01  1.902092 -0.832039 -0.012598  0.134319
2017-01-02  1.486462  1.583310 -2.081212  1.063889
2017-01-03 -0.860876 -0.760034  0.574374 -0.351009